html{
	font-family: 'Proxima Nova', Helvetica, sans-serif;
	font-weight: 200;
}

.input-svg{
	width: 100%;
	margin: auto;
	padding-top: 40px;
}

.prompt, .ratio{
	padding-top: 40px;
	padding-bottom: 20px;
}

.input-text{
	font-size: 20px;
}

/* .dropdown {
  margin-top: 20vh;
  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: #cde4f5;
  transition: 0.3s all ease-in-out;
}

.dropdown input {
  display: none;
}

.dropdown label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}

.dropdown label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9;
}
.dropdown input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
}
.dropdown input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: .4s all ease-in-out;
}
.dropdown.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown.expanded label {
  border-top: .06em solid #d9d9d9;
}
.dropdown.expanded label:hover {
  color: #3694d7;
}
.dropdown.expanded input:checked + label {
  color: #3694d7;
}
.dropdown.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
} */

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  /* border: 0 !important; */
  /* background: #2c3e50; */
  background-image: none;
}

/* Custom Select */
.select-states {
  position: relative;
  /* display: block; */
  width: 140px;
  height: 50px;
  line-height: 3;
	border: 1px solid black;
  /* background: #2c3e50; */
  overflow: hidden;
  border-radius: 30px;
	padding-left: 18px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  /* color: #fff; */
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select-states {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 23px) calc(22px),
    calc(100% - 18px) calc(22px),
    calc(100% - 40px) 9px;
  background-size:
    5px 5px,
    5px 5px,
    1px 32px;
  background-repeat: no-repeat;
}

/* .select-states:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
} */



/* .select-states::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: black;
  pointer-events: none;
} */
/* Transition */
/* .select-states:hover::after {
  color: #f39c12;
} */
.select-states::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.select-states{
	font-size: 20px;
	font-family: 'Proxima Nova', Helvetica, sans-serif;
	font-weight: 200;
}

.ratio-text{
	font-size: 20px;
}

.module{
	min-height: 400px;
}

#totalIntake, #totalOutcome {
	font-size: 14px;
}

.labelOutcome-L, .labelOutcome-O{
	font-size: 14px;
}

.source{
	font-size: 12px;
	text-align: center;
	width: 80%;
	margin: auto;
}
