html{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

.input-svg{
	width: 100%;
	margin: auto;
	padding-top: 40px;
}

.prompt, .ratio{
	padding-top: 40px;
	padding-bottom: 20px;
}

.input-text{
	font-size: 20px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  /* border: 0 !important; */
  /* background: #2c3e50; */
  background-image: none;
}

/* Custom Select */
.select-states {
  position: relative;
  /* display: block; */
  width: 140px;
  height: 60px;
  /* line-height: 3; */
	border: 1px solid black;
  background: #ffffff;
  overflow: hidden;
  border-radius: 30px;
	padding-left: 20px;
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  /* color: #fff; */
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select-states {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 23px) calc(28px),
    calc(100% - 18px) calc(28px),
    calc(100% - 40px) 10px;
  background-size:
    5px 5px,
    5px 5px,
    1px 38px;
  background-repeat: no-repeat;
}

.select-states::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.ratio-text{
	font-size: 18px;
}

.module{
	min-height: 400px;
}

#totalIntake, #totalOutcome, #labelIntake, #labelOutcome, .labelOutcome-L, .labelOutcome-O {
	font-size: 14px;
}

.tooltip text{
	font-size: 12px;
}

.source{
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
